In [22]:
# -*- coding: utf-8 -*-
## Exemplo de CriaÃ§Ã£o de um modelo de PrevisÃ£o/ClassificaÃ§Ã£o usando as Arvores de DecisÃ£o
## Example of Creating a Forecast/Classification model using Decision Trees

## import
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.tree import DecisionTreeClassifier, ExtraTreeClassifier
from sklearn import metrics
import joblib #better then pickle


## carregar o ficheiro Insol para um dataframe do pandas dInsol
## load the Insol file into a pandas dInsol dataframe
dInsol = pd.read_csv('View_data_nullZero.csv')



dInsol.head(2)     #Mostra as primeiras n linhas do conjunto de dados
dInsol.tail(5)     #Mostra as Ãºltimas n linhas do conjunto de dados

,id_match_competition,t1_all_total5_fl_match_win,t1_all_total5_fl_match_draw,t1_all_total5_fl_match_lost,t1_all_total10_fl_match_win,t1_all_total10_fl_match_draw,t1_all_total10_fl_match_lost,t2_all_total5_fl_match_win,t2_all_total5_fl_match_draw,t2_all_total5_fl_match_lost,...,t1_h2h_home_total10_fl_match_win,t1_h2h_home_total10_fl_match_draw,t1_h2h_home_total10_fl_match_lost,t2_h2h_away_total5_fl_match_win,t2_h2h_away_total5_fl_match_draw,t2_h2h_away_total5_fl_match_lost,t2_h2h_away_total10_fl_match_win,t2_h2h_away_total10_fl_match_draw,t2_h2h_away_total10_fl_match_lost,t1_fl_match_win
43818,1069,1,4,0,3,6,1,3,1,1,...,0,1,0,0,1,0,0,1,0,0
43819,243,2,1,2,4,2,4,2,1,2,...,0,0,0,0,0,0,0,0,0,1
43820,214,1,3,1,5,3,2,3,0,2,...,2,2,0,0,2,2,0,2,2,1
43821,257,1,1,3,1,4,5,1,2,2,...,1,2,2,2,2,1,2,2,1,0
43822,8613,3,2,0,7,2,1,4,0,1,...,0,0,1,1,0,0,1,0,0,0

In [23]:
## Pre-processamento dividir os dados em conjunto de Treino e Teste
## Pre-processing split data into Training and Test sets
x = dInsol.drop('t1_fl_match_win', axis=1)   #Todas as tabelas que sÃ£o usadas para fazer a predict
y = dInsol.t1_fl_match_win                   #Resultados entre 1 e 0 8InsolvÃªncia ou nÃ£o InsolvÃªnvia)

In [24]:
def modelDecisionTreeClassifier():
    from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
    from sklearn import linear_model, tree, ensemble

    kf =KFold(n_splits=5, shuffle=True, random_state=42)
# split()  method generate indices to split data into training and test set.
    for train_index, test_index in kf.split(x, y):
        scoresR2 = cross_validate(tree.DecisionTreeClassifier(random_state=42), x, y, scoring=['neg_mean_squared_error','r2','max_error'], cv=kf, return_estimator=True)
        #scoresNMSE = cross_val_score(tree.DecisionTreeClassifier(random_state=42), x, y, scoring='neg_mean_squared_error', cv=kf)
        #scoresME = cross_val_score(tree.DecisionTreeClassifier(random_state=42), x, y, scoring=, cv=kf)
    print ("Resultados do modelo Extra Tree Classifier\n")
    print("Metrics : ", scoresR2)
    rfc_fit = scoresR2['estimator']
    rfc_fit = rfc_fit[0]
    #print("Resultado do NMSE :{}".format(scoresNMSE))
    #print("Resultado do ME :{}\n".format(scoresME))
    filename = 'modelo_final.sav'
    joblib.dump(rfc_fit, open(filename, 'wb'))

In [25]:
def modelExtraTreeClassifier():
    from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
    from sklearn import linear_model, tree, ensemble

    kf =KFold(n_splits=5, shuffle=True, random_state=42)
# split()  method generate indices to split data into training and test set.
    for train_index, test_index in kf.split(x, y):
        scoresR2 = cross_val_score(tree.ExtraTreeClassifier(random_state=42), x, y, scoring='r2', cv=kf)
        scoresNMSE = cross_val_score(tree.ExtraTreeClassifier(random_state=42), x, y, scoring='neg_mean_squared_error', cv=kf)
        scoresME = cross_val_score(tree.ExtraTreeClassifier(random_state=42), x, y, scoring='max_error', cv=kf)
    print ("Resultados do modelo Decision Tree Classifier\n")
    print("Resultado do r2 :{}".format(scoresR2))
    print("Resultado do NMSE :{}".format(scoresNMSE))
    print("Resultado do ME :{}\n".format(scoresME))

In [26]:
def modelDecisionTreeRegressor():
    from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
    from sklearn import linear_model, tree, ensemble

    kf =KFold(n_splits=5, shuffle=True, random_state=42)
# split()  method generate indices to split data into training and test set.
    for train_index, test_index in kf.split(x, y):
        scoresR2 = cross_val_score(tree.DecisionTreeRegressor(random_state=42), x, y, scoring='r2', cv=kf)
        scoresNMSE = cross_val_score(tree.DecisionTreeRegressor(random_state=42), x, y, scoring='neg_mean_squared_error', cv=kf)
        scoresME = cross_val_score(tree.DecisionTreeRegressor(random_state=42), x, y, scoring='max_error', cv=kf)
    print ("Resultados do modelo Decision Tree Regression\n")
    print("Resultado do r2 :{}".format(scoresR2))
    print("Resultado do NMSE :{}".format(scoresNMSE))
    print("Resultado do ME :{}\n".format(scoresME))

In [27]:
modelDecisionTreeRegressor()
modelExtraTreeClassifier()
modelDecisionTreeClassifier()

Resultados do modelo Decision Tree Regression

Resultado do r2 :[-0.85115962 -0.8919916  -0.89331959 -0.86390885 -0.88492593]
Resultado do NMSE :[-0.44946997 -0.46273647 -0.46267592 -0.45562945 -0.45818947]
Resultado do ME :[-1. -1. -1. -1. -1.]

Resultados do modelo Decision Tree Classifier

Resultado do r2 :[-0.9260572  -0.89297813 -0.8945547  -0.90305448 -0.88137136]
Resultado do NMSE :[-0.46765545 -0.46297775 -0.46297775 -0.46519854 -0.45732542]
Resultado do ME :[-1 -1 -1 -1 -1]

Resultados do modelo Extra Tree Classifier

Metrics :  {'fit_time': array([0.50773358, 0.51382661, 0.51485467, 0.51093388, 0.49812269]), 'score_time': array([0.004884  , 0.00372791, 0.00376606, 0.00372076, 0.00394964]), 'estimator': [DecisionTreeClassifier(random_state=42), DecisionTreeClassifier(random_state=42), DecisionTreeClassifier(random_state=42), DecisionTreeClassifier(random_state=42), DecisionTreeClassifier(random_state=42)], 'test_neg_mean_squared_error': array([-0.45396463, -0.46525956, -0.46023959, -0.45310361, -0.45915107]), 'test_r2': array([-0.86967104, -0.90230774, -0.88334985, -0.853576  , -0.88888182]), 'test_max_error': array([-1, -1, -1, -1, -1])}


##Matriz da confusÃ£o
from sklearn.metrics import confusion_matrix

pd.DataFrame(
    confusion_matrix(y_teste, y_pred),
    columns=['PrevisÃ£o da t1_home ganhar ', 'PrevisÃ£o da  t1_home nÃ£o ganhar'],
    index=['Realidade de ganhar', 'Realidade de nÃ£o ganhar']
)

from sklearn import tree

model = tree.DecisionTreeClassifier()
model.fit(x_train, y_train)

tree.export_graphviz(model, out_file='tree.dot', feature_names=x.columns)
from subprocess import call

call(['dot', '-T', 'png', 'tree.dot', '-o', 'tree.png'])

from IPython.display import Image
Image(filename = 'tree.png')

In [28]:
# load the model from disk
filename = 'modelo_final.sav'
loaded_model = joblib.load(open(filename, 'rb'))
# novo registo a prever
dNew = pd.read_csv('../files/data_sample_match_win.csv')
dNew = dNew.drop('t1_fl_match_win', axis=1)   #Remover a tabela Insolvencia  #Remove the Insolvency table
dNew.head(2)     #Mostra as primeiras n linhas do conjunto de dados   Display the first n rows of the dataset

,id_match_competition,t1_all_total5_fl_match_win,t1_all_total5_fl_match_draw,t1_all_total5_fl_match_lost,t1_all_total10_fl_match_win,t1_all_total10_fl_match_draw,t1_all_total10_fl_match_lost,t2_all_total5_fl_match_win,t2_all_total5_fl_match_draw,t2_all_total5_fl_match_lost,...,t1_h2h_home_total5_fl_match_lost,t1_h2h_home_total10_fl_match_win,t1_h2h_home_total10_fl_match_draw,t1_h2h_home_total10_fl_match_lost,t2_h2h_away_total5_fl_match_win,t2_h2h_away_total5_fl_match_draw,t2_h2h_away_total5_fl_match_lost,t2_h2h_away_total10_fl_match_win,t2_h2h_away_total10_fl_match_draw,t2_h2h_away_total10_fl_match_lost
0,328,5,0,0,6,2,0,0,0,4,...,0,4,0,0,0,0,2,0,0,4

In [29]:
#Fazer uma previsÃ£o com o novo registo
yNew = pd.Series(loaded_model.predict(dNew))
print( yNew[0])
if yNew[0] == 0:
  print("Equipa da casa perde")
else:
  print("Equipa da casa ganha")

1
Equipa da casa ganha